.bottom-section {
  padding: 20px;
}

.bottom-section__header {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.bottom-section_results {
  display: flex;
  gap: 20px;
}

.bottom-section__details {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
